html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
	box-sizing: border-box;
}
html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
@media (max-width: 420px) {
    html {
        font-size: 10px;
    }
}
body {
	position: relative;
	width: 100%;
	margin: 0 auto;
	
}
h1#h1 {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}
h2 {
	font-size: 1.2em;
}
nav,
footer,
label,
#content,
#comments {
	float: left;
	width: 100%;
}
#menu,
footer {
	height: 2em;
	overflow: hidden;
	background-color: #ddd;
	line-height: 2em;
	border: 1px solid gray;
}
footer {
	font-size: 0.8em;
	margin-top: 10px;
	padding: 0 5px;
}
textarea {
	height: 7em;
}
textarea,
input[type="text"],
input[type="submit"],
#content > ul > li {
	margin: 2px 2% !important;
	width: 96%;
	padding: 5px !important;
}
input[type="submit"] {
	margin-top: 10px !important;
}
li {
	list-style-type: none;
}
a {
	color: black;
	cursor: pointer;
}
#menu {
	position: fixed;
	top: 0;
}
#container {
	padding-top: 2em;
}
.menu-item {
	width: 33%;
	float: left;
	padding: 0 5px;
	line-height: 2em;
	display: inline-block;
}
.menu-item > * {
	display: block;
	width: 100%;
	text-align: center;
}
.menu-item:first-child {
	text-align: left !important;
	padding-left: 35px;
	background-image: url("favicon.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
}
.menu-item:first-child * {
	text-align: left;
}
#menu li:last-child {
	float: right;
	text-align: right;
}
#menu li:last-child * {
	text-align: right;
}
#menu li:last-child div {
	display: inline;
}
#menu li > div:last-child {
	margin: 0 5px;
}
#submenu {
	display: none;
}
#content {
	float: left;
	margin-top: 10px;
}
.task,
.comment,
.worklog,
.submenu-item {
	color: black;
	padding: 5px;
	border: 1px solid gray;
}
.tasklist > ul > a+a > li,
.comment+.comment,
.worklog+.worklog,
#submenu > ul > a+a > li {
	border-top: none;
}
#submenu {
	background-color: #ccc;
}
.comment:nth-child(even) {
	background-color: #eee;
}
.main > ul > a {
	text-decoration: none !important;
}
.priority1 {background-color: #dff0d8;}
.priority2 {background-color: #d9edf7;}
.priority3 {background-color: #fcf8e3;}
.priority4 {background-color: #f2dede;}
#commentform {
	padding-top: 5px;
}
.meta {
	color: grey;
	font-size: 0.8em;
}
.createtask form p:nth-last-child(-n+4) {
	display: inline-block;
	width: 31.8%;
	overflow: hidden;
}
.createtask form p:nth-last-child(-n+4) > * {
	width: 100%;
}
.createtask form p:nth-last-child(4) {
	margin-left: 2%;
}
#commentform label {
	display: none;
}