{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<!-- Create Worklog Form  -->
	<div class="addworklog">
	    <form method="post" action="{{ submiturl }}">{% csrf_token %}
	        {{ form.as_p }}
	        <input  name="worklog_form" type="submit" value="{% trans 'Add worklog' %}">
	    </form>
    </div>

{% endblock %}