{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<!-- Create Task Form  -->
	{% if create_mode %}
	<div class="createtask">
	{% else %}
	<div class="edittask">
	{% endif %}
	    <form method="post" action="">{% csrf_token %}
	        {{ form.as_p }}
	        {% if create_mode %}
	        	<input  name="task_form" type="submit" value="{% trans 'Create task' %}">
	        {% else %}
	        	<input  name="task_form" type="submit" value="{% trans 'Edit task' %}">
	        {% endif %}
	    </form>
    </div>

{% endblock %}