{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<!-- Create Task Form  -->
	<div class="loginpage">
		{% if error_message %}
			<div class="error_message"><p>{{ error_message }}</p></div>
        {% endif %}
	    <form method="post" action="/login">{% csrf_token %}
	        <label for="username">{% trans "Username" %}:</label>
	        <input  type="text" name="username" value="" id="username">
	        <label for="password">{% trans "Password" %}:</label>
	        <input  type="password" name="password" value="" id="password">
	        <input  type="submit" value="{% trans "Login" %}">
	    </form>
    </div>

{% endblock %}