{% extends "base.html" %}

{% block content %}
    <div id="office">
        {% for user in users %}
            <div class="user-on-map" style="left: {{ user.map_x_pos }}px; top: {{ user.map_y_pos }}px;">
                <a href="/user/{{ user.user.id }}"><img src="{{ user.picture.url }}" height="50"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}