{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if project.completed %}
    <li class="project priority3">
    {% else %}
    <li class="project priority1">
    {% endif %}
        <!-- Project  -->
        <div class="title">{{ project.name }}</div>
        <ul>
            <div class="meta">
                <span class="project-created_date">{{ project.created_date }}</span>
                <div>
                    <span>{% trans "Menegers:" %}</span>
                    {% for user in project.menegers.all %}
                        <a href="/user/{{ user.id }}" class="project-user">{{ user }}</a>
                    {% endfor %}
                </div>
                <div>
                    <span>{% trans "Users:" %}</span>
                    {% for user in project.users.all %}
                        <a href="/user/{{ user.id }}" class="project-user">{{ user }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="body">{{ project.note|linebreaks }}</div>
        </ul>    
    </div>
    {% include "list-block.html" %}

{% endblock %}