{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
    {% if editable %}
        <div class="user-profile editable">
    {% else %}
        <div class="user-profile noteditable">
    {% endif %}
    <h1>{{ profile_user.username }}</h1>
        <div class="coll4">
            <div>
                {% if profile.picture.url %}
                    <a><img src="{{ profile.picture.url }}" height="100"></a>
                {% else %}
                    <a><img src="{% static 'no-avatar.jpg' %}" height="100"></a>
                {% endif %}
            </div>
            <form action="" method="post">{% csrf_token %}
                {{ profile_form.as_p }}
                {{ user_form.as_p }}
                {% if editable %}
                    <input name="profile_form" type="submit" value="{% trans "Change profile" %}">
                {% endif %}
            </form>
        </div>
        <a href="{% url 'userstatistic' profile.user.id %}">{% trans "User statistic" %}</a>

        <div class="coll8">
        </div>
    </div>

{% endblock %}