{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<h2>{% trans "User statistic" %}</h2>

	<table>
		<tr>
		<th>{% trans 'username' %}</th>
		{% for day in calendar %}
			<th>{{ day }}</th>
		{% endfor %}
		</tr>
		<tr>
		<td><a href="{% url 'showuser' statistic_user.id %}">{{ statistic_user }}</a></td>
		{% for day in user_delays %}
			<td>{{ day }}</td>
		{% endfor %}
		</tr>
	</table>


{% endblock %}
